@import scala.collection.mutable.ArrayBuffer
@(form: Form[CD], listItems: ArrayBuffer[CD], title: String, validated: Boolean)(implicit messages: Messages)

@import models.People;

@if(validated) {
    @main("List display", validated) {
        <h1>This is the list display page</h1>

        <ul>
        @for(p <- listItems) {
            <li>@p.name @p.price</li>
        }
        </ul>

        @helper.form(routes.Application.createCD()) {
            @* an example of how we can pass additional arguments for the helper
            in this CD example having '_showConstraints -> false will hide the requirement Required *@
            @helper.inputText(form("name"), '_label -> "Name", '_showConstraints -> false)
            @helper.inputText(form("price"), '_label -> "Price" , '_showConstraints -> false)
            <button type="submit">Create CD</button>
        }

    }
} else {
    not validated
}

